<header class="p-3 border-bottom" id="header">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <nav id="nav" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {{ range .Site.Menus.main }}
                <a class="nav-link px-2 link-dark" href="{{ .URL }}">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
                {{ end }}
            </nav>
            {{- partial "search.html" . -}}
        </div>
    </div>
</header>